.page {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin-top: 100px;
  gap: 40px;
  margin-bottom: 30px;
}

.hero img {
  width: 40%;
  height: auto;
  max-width: 400px;
}

.heroContainer {
  width: 50%;
  max-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroContainer h3 {
  font-size: 51px;
  font-weight: 800;
}

.heroContainer .coloredBars {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
}

.heroContainer p {
  font-size: 17px;
  margin: 20px 0px;
  color: #ffffffa9;
  width: 85%;
}

.heroContainer a {
  border: 0.8px solid #ffffff;
  border-radius: 14px;
  padding: 8px 13px;
  width: fit-content;
  font-size: 18px;
}

.heroContainer a:hover {
  background-color: #ffffff1a;
  transition: all 0.3s ease-in-out;
  scale: 1.04;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 25px 0;
  margin-top: 20px;
  background-color: #000;
}

@media (max-width: 1000px) {
  .hero {
    flex-direction: column;
    margin-top: 60px;
  }

  .hero img {
    width: 80%;
    margin-top: 25px;
  }

  .heroContainer {
    width: 100%;
  }

  .heroContainer h3 {
    font-size: 40px;
  }

  .heroContainer p {
    font-size: 15px;
  }

  .heroContainer a {
    font-size: 16px;
  }
}
